{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
        {% if browser.getBrowser == 'msie' and browser.getVersion == 9 %}
            {% do assets.addCss('theme://css/ie9.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion == 8 %}
            {% do assets.addCss('theme://css/ie8.css') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">
  <!-- Wrapper -->
  <div id="wrapper">
    {% block header %}
            <header id="header" class="alt">
              <span class="logo"><img src="{{ url('theme://images/logo.svg') }}" alt="" /></span>
              <h1>{{ config.site.title }}</h1>
              <p>Simple theme, one page.<br />
              dev by <a href="https://github.com/andermelo/">@andermelo</a></p>
            </header>
    {% endblock %}

    {% block header_navigation %}
      <nav id="nav">
        {% include 'partials/navigation.html.twig' %}
      </nav>
    {% endblock %}

    <!-- Main -->
    <div id="main">
    {% block body %}
      <section id="intro" class="main">
        <div class="spotlight">
          <div class="content">
            <header class="major">
              <h2>Ipsum sed adipiscing</h2>
            </header>
            {% block content %}{% endblock %}
            <ul class="actions">
              <li><a href="generic.html" class="button">Learn More</a></li>
            </ul>
          </div>
          <span class="image"><img src="images/pic01.jpg" alt="" /></span>
        </div>
      </section>
    {% endblock %}
  	</div>
    <!-- end Main -->

    {% block footer %}
        <!-- Footer -->
        <footer id="footer">
          <section>
            <h2>Aliquam sed mauris</h2>
            <p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
            <ul class="actions">
              <li><a href="generic.html" class="button">Learn More</a></li>
            </ul>
          </section>
          <section>
            <h2>Etiam feugiat</h2>
            <dl class="alt">
              <dt>Address</dt>
              <dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
              <dt>Phone</dt>
              <dd>(000) 000-0000 x 0000</dd>
              <dt>Email</dt>
              <dd><a href="#">information@untitled.tld</a></dd>
            </dl>
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
              <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
            </ul>
          </section>
          <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
    {% endblock %}
  </div>
  <!-- end Wrapper -->

{% block bottom %}
    {% do assets.addJs('theme://js/jquery.min.js',101) %}
    {% do assets.addJs('theme://js/jquery.scrollex.min.js',100) %}
    {% do assets.addJs('theme://js/jquery.scrolly.min.js') %}
    {% do assets.addJs('theme://js/skel.min.js') %}
    {% do assets.addJs('theme://js/util.js') %}
    {% if browser.getBrowser == 'msie' and browser.getVersion == 8 %}
        {% do assets.addJs('theme://js/ie/respond.min.js') %}
    {% endif %}
    {% do assets.addJs('theme://js/main.js',99) %}
{% endblock %}

</body>
</html>
=======
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
        {% if browser.getBrowser == 'msie' and browser.getVersion == 9 %}
            {% do assets.addCss('theme://css/ie9.css') %}
        {% endif %}
        {% if browser.getBrowser == 'msie' and browser.getVersion == 8 %}
            {% do assets.addCss('theme://css/ie8.css') %}
        {% endif %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">
  <!-- Wrapper -->
  <div id="wrapper">
    {% block header %}
            <header id="header" class="alt">
              <span class="logo"><img src="{{ url('theme://images/logo.svg') }}" alt="" /></span>
              <h1>{{ config.site.title }}</h1>
              <p>Simple theme, one page.<br />
              dev by <a href="https://github.com/andermelo/">@andermelo</a></p>
            </header>
    {% endblock %}

    {% block header_navigation %}
      <nav id="nav">
        {% include 'partials/navigation.html.twig' %}
      </nav>
    {% endblock %}

    <!-- Main -->
    <div id="main">
    {% block body %}
      <section id="intro" class="main">
        <div class="spotlight">
          <div class="content">
            <header class="major">
              <h2>Ipsum sed adipiscing</h2>
            </header>
            {% block content %}{% endblock %}
            <ul class="actions">
              <li><a href="generic.html" class="button">Learn More</a></li>
            </ul>
          </div>
          <span class="image"><img src="images/pic01.jpg" alt="" /></span>
        </div>
      </section>
    {% endblock %}
  	</div>
    <!-- end Main -->

    {% block footer %}
        <!-- Footer -->
        <footer id="footer">
          <section>
            <h2>Aliquam sed mauris</h2>
            <p>Sed lorem ipsum dolor sit amet et nullam consequat feugiat consequat magna adipiscing tempus etiam dolore veroeros. eget dapibus mauris. Cras aliquet, nisl ut viverra sollicitudin, ligula erat egestas velit, vitae tincidunt odio.</p>
            <ul class="actions">
              <li><a href="generic.html" class="button">Learn More</a></li>
            </ul>
          </section>
          <section>
            <h2>Etiam feugiat</h2>
            <dl class="alt">
              <dt>Address</dt>
              <dd>1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
              <dt>Phone</dt>
              <dd>(000) 000-0000 x 0000</dd>
              <dt>Email</dt>
              <dd><a href="#">information@untitled.tld</a></dd>
            </dl>
            <ul class="icons">
              <li><a href="#" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="icon fa-facebook alt"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="icon fa-instagram alt"><span class="label">Instagram</span></a></li>
              <li><a href="#" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
              <li><a href="#" class="icon fa-dribbble alt"><span class="label">Dribbble</span></a></li>
            </ul>
          </section>
          <p class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
        </footer>
    {% endblock %}
  </div>
  <!-- end Wrapper -->

{% block bottom %}
    {% do assets.addJs('theme://js/jquery.min.js',101) %}
    {% do assets.addJs('theme://js/jquery.scrollex.min.js',100) %}
    {% do assets.addJs('theme://js/jquery.scrolly.min.js') %}
    {% do assets.addJs('theme://js/skel.min.js') %}
    {% do assets.addJs('theme://js/util.js') %}
    {% if browser.getBrowser == 'msie' and browser.getVersion == 8 %}
        {% do assets.addJs('theme://js/ie/respond.min.js') %}
    {% endif %}
    {% do assets.addJs('theme://js/main.js',99) %}
{% endblock %}

</body>
</html>
